.optionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border-bottom: 1px solid var(--color-neutral-light);
    padding: 8px 0px;
}

.optionsContainer input {
    height: 20px;
    border-radius: 6px;
    border: 1px solid var(--color-neutral-light);
    padding: 5px 12px;
}

@media only screen and (min-width: 1024px) {
    .selectsContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.selectsContainer {
    margin-left: 26px;
}

.optionsContainer input {
    width: 100%;
    min-width: 100px;
}

.optionsContainer input:hover {
    border: 1px solid var(--color-neutral);
}

.optionsContainer input:focus {
    outline: 2px solid var(--color-accent);
}

.optionsContainer input:hover:focus {
    outline: 2px solid var(--color-accent);
    border: 1px solid var(--color-accent);
}

.hintContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid var(--color-neutral-light);
}

.clearFilterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clearFilterContainer span {
    color: var(--color-neutral-emphasis);
    margin-left: 8px;
}

.clearFilterContainer:hover span {
    color: var(--color-accent);
}

.clearFilterContainer:hover .svgCancel {
    background-color: var(--color-accent);
}

.svgCancel {
    padding: 1px;
    fill: var(--color-bg);
    background-color: var(--color-neutral-emphasis);
    border-radius: 6px;
    justify-centent: center
}